<h3>Formulaire d'annonce</h3>

On laisse vide la vue pour l'instant, on la comblera plus tard
lorsqu'on saura afficher un formulaire.
<div class="well">
    <h3>Formulaire version COURTE</h3>
    {{ form(form) }}

</div>

{#<div class="well">#}

    {#{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}#}
    {# Les erreurs générales du formulaire. #}
    {#{{ form_errors(form) }}#}

    {# Génération du label + error + widget pour un champ. #}
    {#{{ form_row(form.date) }}#}
    {# Génération manuelle et éclatée : #}
    {#<div class="form-row">#}
        {#<div class="col-md-6">#}
            {# Génération du label. #}
            {#{{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-md-2 control-label'}}) }}#}

            {# Affichage des erreurs pour ce champ précis. #}
            {#{{ form_errors(form.title) }}#}

            {#<div class="col-md-10">#}
                {# Génération de l'input. #}
                {#{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
        {#</div>#}

        {#<div class="col-md-6">#}
            {# Génération du label. #}
            {#{{ form_label(form.author, "Auteur", {'label_attr': {'class': 'col-md-2 control-label'}}) }}#}

            {# Affichage des erreurs pour ce champ précis. #}
            {#{{ form_errors(form.author) }}#}

            {#<div class="col-md-10">#}
                {# Génération de l'input. #}
                {#{{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {# Idem pour un autre champ. #}
    {#<div class="form-group">#}
        {#{{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'control-label'}}) }}#}
        {#{{ form_errors(form.content) }}#}
        {#<div>#}
            {#{{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 6}}) }}#}
        {#</div>#}
    {#</div>#}


    {#{{ form_row(form.published) }}#}

    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    {#{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}#}

    {# Génération automatique des champs pas encore écrits.#}
       {#Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
       {#et tous les champs cachés (type « hidden »). #}
    {#{{ form_rest(form) }}#}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {#{{ form_end(form) }}#}
{#</div>#}