{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>{{ advert.title }}</h2>
    <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    {% if advert.image is not null %}
        <img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}">
    {% endif %}

    <div class="well">
        {{ advert.content }}
    </div>

    {% if listAdvertSkills %}
        <h4>Niveaux requis : </h4>
        {% for advertSkill in listAdvertSkills %}
            {{ advertSkill.skill.name }} => {{ advertSkill.level }} <br>
        {% endfor %}
    {% else %}
        <i>Pas d'informations sur le niveau requis.</i><br>
    {% endif %}

    {% set break = false %}
    {% for advCat in advert.categories if not break %}
        {% if advCat %}
            <h4>Appartient aux catégories :</h4>
            {% set break = true %}
        {% endif %}
    {% else %}
        <i>Pas de catégories liées à cette annonce.</i><br>
    {% endfor %}
    <p>
        {% for category in advert.categories %}
            {{ category.name }}{% if not loop.last %}, {% else %}.{% endif %}
        {% endfor %}
    </p>

    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
        <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>

        <a href="{{ path('oc_platform_myFindAll') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-trash"></i>
            Relations Test
        </a>

        <a href="{{ path('oc_platform_slugtest') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-trash"></i>
            Sluggable Test
        </a>
    </p>


    <p>
    {% if listApplications %}
        <u>Liste des candidatures :</u> <br>

        {% for application in listApplications %}
            De {{ application.author }}, le {{ application.date|date("d/M/Y", "Europe/Paris") }} - {{ application.date|date("H") }}h{{ application.date|date("i") }}
            <br>
            Message : <br>
            {{ application.content }} <br>
            <hr>

        {% endfor %}

    {% else %}
        <u>Aucune candidature sur cette offre actuellement</u> <br>
    {% endif %}
    </p>

{% endblock %}